[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
unidecode = "*"
psycopg2-binary = "*"
django-configurations = "*"
six = "*"
django-cities-light = {editable = true,git = "https://github.com/arsensokolov/django-cities-light.git",ref = "dj3"}
requests = "*"
pillow = "*"
pyqrcode = "*"

[requires]
python_version = "3.7"
