{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/uikit/css/uikit.min.css' %}">
    {% block style %}{% endblock %}
    <title>{% spaceless %}{% block title %}{{ settings.site_name }}{% endblock %}{% endspaceless %}</title>
</head>
<body>
    {% block content %}{% endblock %}

    <script src="{% static 'vendor/uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'vendor/uikit/js/uikit-icons.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>
