{% extends 'yoyo/base.html' %}
{% load static i18n %}

{% block style %}
    <link rel="stylesheet" href="{% static 'yoyo/css/main.css' %}">
{% endblock %}

{% block title %}{{ coach.full_name }}{% endblock %}

{% block content %}
    <section class="hero is-danger is-homepage is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{{ coach.full_name }}</h1>
                <h2 class="subtitle">{{ coach.city_name_with_region }}</h2>
            </div>
        </div>
    </section>
{% endblock %}
