{% extends 'yoyo/base.html' %}
{% load i18n %}

{% block title %}
    {% if coaches|length %}
        {% blocktrans count total=coaches|length %}Found {{ total }} coach{% plural %}Found {{ total }} coaches{% endblocktrans %}
    {% else %}
        {% trans 'Coach not found' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if coaches|length %}
        {% include 'yoyo/includes/search_result.html' %}
    {% else %}
        {% include 'yoyo/includes/not_found.html' %}
    {% endif %}
{% endblock %}

