.is-homepage {
    background-image: url("../images/bg-min.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.is-homepage ::selection {
    background-color: #f14668;
    color: #ffffff;
}

.is-homepage .input {
    background: rgba(255, 255, 255, 0.75);
}
